<body>
<div id="containerinfo">
<h3> Containers in Phase one <%= @phase_one.count %> </h3>
<h3> Containers in Phase two <%= @phase_two.count %> </h3>
</div>

<div id="allphasechart">
<ul class="chart">
  <li>
    <%= link_to "/home/phase_one" do %>
      <%= content_tag :span, "Phase One"%>
    <% end %>
    <span class="heading" style="height:5%" title="Phase 1"></span>
  </li>
  <li>
    <span class="heading" style="height:30%" title="Phase 2"><%= link_to "Phase 2", "/home/phase_two" %> </span>
  </li>
  <li>
    <span class="heading" style="height:40%" title="Phase 3"><%= link_to "Phase 3", "/home/phase_three" %> </span>
  </li>
</ul> 
</div> 


<footer id="homefooter">
<%= link_to('Logout', destroy_user_session_path, method: :delete) %>
</footer>
</body>